html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/************************************************** FONTS  *********************************************************/

@font-face {
  font-family: ars-maquette;
  src: url(fonts/ars-maquette-regular.woff);
}

@font-face {
  font-family: avalon-bold;
  src: url(fonts/avalon-bold.woff);
}

@font-face {
  font-family: shenton-medium;
  src: url(fonts/shentox-medium.woff2);
}

/************************************************** HEADER *********************************************************/

header {
  display: flex;
  justify-content: space-between;
  font-family: "ars-maquette", sans-serif;
  background-color: rgb(14, 15, 16);
  padding: 10px 20px 10px 20px;
}

.header-links {
  padding: 3px;
  width: 50%;
  color: rgba(232, 230, 227, 0.6);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.first-link {
  color: white;
}

.hover-white:hover {
  color: white;
}

/************************************************ NAV *********************************************************************/

nav {
  position: sticky;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
  width: 99%;
  top:0;
  background-color: white;
  font-family: "shentox-medium", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
}

.nav-links {
  text-decoration: none;
  padding: 20px 5px;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  color: #aaa;
}

.fa-search {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  color: #aaa;
  margin-left: 20px;
}

nav > .right-align {
  border-left-style: solid;
  border-color: #aaa;
  border-width: 1px;
}

.hover-black:hover {
  color: black;
}

/******************************************* HIGHLIGHTS **************************************************************/

#highlights {
  display: grid;
  height: 560px;
  margin: 1%;
  grid-template-columns: 2.5fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "big-left top"
    "big-left bottom";
  grid-gap: 10px;
  color: white;
}

.big-left {
  grid-area: big-left;
  background-image: linear-gradient(
      180deg,
      rgba(236, 143, 27, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(135deg, rgba(242, 71, 21, 0.9) 40%, rgba(0, 0, 0, 0) 75%),
    url("/assets/x-ray.webp");
  background-size: cover;
  background-position: 50%;
}

.highlights-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.highlights-heading-container a {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 1%;
  font-family:"avalon-bold",sans-serif;
}

.big-left > img {
  max-height: fit-content;
  width: 30%;
  padding: 20px 2px 5px 15px;
}

.small-top {
  justify-content: flex-end;
  grid-area: top;
  background-image: linear-gradient(
      180deg,
      rgba(236, 143, 27, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(/assets/gadget.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.small-bottom {
  justify-content: flex-end;
  grid-area: bottom;
  background-image: linear-gradient(
      180deg,
      rgba(236, 143, 27, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(/assets/ev-phantom-rols-royce.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.highlights-heading-container {
  height: max-content;
}

.small-highlight-heading a {
  font-size: 2vw;
}

/**************** Latest News *************/
.latest {
  width: 70%;
  margin: auto;
}

.latest h2 {
  font: 700 25px "avalon-bold", sans-serif;
  margin-bottom: 20px;
}

.link-latest {
  color: #f42;
  text-decoration: none;
}

.link-latest::after, .funding-section-title::after{
  display: inline-block;
  content: "";
  height: 16px;
  width: 16px;
  margin-left: 4px;
  background-image: url("assets/arrow.svg");
  background-size: 16px 16px;
}

.news-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  list-style-type: none;
}

.news {
  flex-basis: 25%;
}

.wrap-news {
  max-width: 270px;
  padding: 5px;
}

.tile {
  width: 100%;
  height: 135px;
}

h4 a {
  font: 700 16px/1.5 "ars-maquette", sans-serif;
  color: #000;
  text-decoration: none;
}

h4 a:hover {
  color: #f42;
  text-decoration: underline;
}

.story p {
  font: 12px/18px "ars-maquette", sans-serif;
  color: #aaa;
}

@media screen and (max-width: 750px) {
  #highlights {
    display: grid;
    height: 1000px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "big-left"
      "top"
      "bottom";
  }

  .highlights-item {
    height: 285px;
  }

  .highlights-heading-container {
    height: max-content;
  }

  .highlights-heading-container a {
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 1%;
  }

  .latest {
    width: 99%;
  }

  .news-wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrap-news {
    display: flex;
    max-width: 100%;
    min-height: 75px;
  }

  .tile {
    width: 75px;
    height: 75px;
  }

  .story {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 1000px) {
  .news {
    flex-basis: 33.333%;
  }
}

/************************************************** FUNDING *************************************************************/
.funding {
  width: 70%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-family: "avalon-bold", sans-serif;
}

.funding-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5px;
}

.funding-item {
  font-family: "avalon-bold",sans-serif;
  flex-direction: column;
}

.funding-title-container {
  width: 100%;
  display: flex;
  
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.funding-section-title {
  font-family: "avalon-bold",sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color:#f42;
  text-decoration: none;
}

.funding-title-right-links {
  font-family:"ars-maquette",sans-serif;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  color:#f42;
}

.first-two-links::after {
  content:"|";
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  .funding-title-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .funding-title-container {
    flex-direction: column;
  }
  .funding-title-right {
    display: flex;
    flex-direction: column;
  }
  .first-two-links::after {
    content:""
  }
}



.funding-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}




.funding-item img {
  width: 60px;
  height: 60px;
  padding: 10px 10px 20px 10px;
  display: inline-block;
}

.funding-header {
  display: flex;
  background: linear-gradient(
    0deg,
    rgb(252, 216, 224) 55%,
    rgba(255, 68, 34, 1) 55%
  );
}

.funding-header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.funding-info {
  flex-basis: 70%;
  padding-top: 1rem;
}

.funding-price {
  padding-top: 1rem;
  font-size: 18px;
}

.fund-type {
  color: black;
  font-family: "shentox-medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
}

.fa-tag,
.fa-briefcase {
  display: block;
  padding: 10px;
}

.funding-info-bottom {
  font-family: "ars-maquette", sans-serif;
  color: #555;
  font-weight: 400;
  font-size: 14px;
  padding-left: 5px;
}

.funding-hr {
  color: orange;
  border-color: orange;
}

.funding-description {
  padding: 1rem;
  font-family: "ars-maquette", sans-serif;
  font-size: 14px;
}

.gray-desc {
  padding: 0 1rem 0 1rem;
  font-size: 12px;
  color: lightgray;
}

/************** CATEGORIES *******************/
.categories {
  display: grid;
  width: 70%;
  margin: 5rem auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
}

.cat-item h2 {
  font: 700 25px "avalon-bold", sans-serif;
  margin-bottom: 10px;
}

.bgd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  max-width: 100%;
  min-height: 280px;
  background-image: linear-gradient(
      180deg,
      rgba(236, 143, 27, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(assets/Trump-Twitter.jpg);
  background-size: cover;
  color: #fff9;
  font-family: "ars-maquette", sans-serif;
  font-size: 12px;
}

.bgd-heading {
  font-size: 13px;
  font-family: "shentox-medium", sans-serif;
  color: #fff;
}

.bgd-subheading {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}

.bgd-heading,
.bgd-subheading {
  text-decoration: none;
}

.bgd-heading:hover,
.bgd-subheading:hover {
  color: #fff;
  text-decoration-thickness: 0.2px;
}

.latest-section {
  display: flex;
  height: 96px;
  background-color: #fff4f2;
}

.latest-header {
  flex-basis: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  color: #f42;
  font: 700 14px/17.5px "ars-maquette", sans-serif;
}

.latest-header h3 {
  font: 500 13px/1.5 "shentox-medium", sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.link-category {
  flex-basis: 28%;
  background-image: url(assets/winklevossbitcoin.jpg);
  background-size: cover;
  background-position: 50%;
}

.cat-item ul {
  list-style-type: none;
}

.category-subheading {
  display: inline-flex;
  border-bottom: 1px solid #eee;
}

.category-subheading a {
  font: 13px/19.5px "ars-maquette", sans-serif;
  color: #555;
  text-decoration: none;
  padding: 6px 0;
}

.category-subheading a:hover {
  color: #000;
}

.category-subheading::before {
  display: block;
  content: "•";
  color: #f42;
  margin-right: 5px;
  padding-top: 6px;
}
